*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
          display: flex;
          min-height: 100vh;
          justify-content: center;
          align-items: center;
          background: #283747;
          color: white;
}
#container{
          position: relative;
}
.clock{
          height: 370px;
          width: 370px;
          background: #1C2833;
          border-radius: 50%;
          border: 2px solid #485159;
          box-shadow: 0 0 15px rgb(0, 0, 0.9);

          display: flex;
          justify-content: center;
          align-items: center;
}
.clock span{
          position: absolute;
          transform: rotate(calc(30deg * var(--i)));
          inset: 18px;
          text-align: center;
}
.clock span b{
          transform: rotate(calc(-30deg * var(--i)));
          font-size: 0.9rem;
}
.clock::before{
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          background: white;
          border-radius: 50%;
          z-index: 1;
}
.analog{
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: flex-end;
}
.analog i{
          position: absolute;
          width: 5px;
          height: var(--h);
          border-radius: 70px;
          background: var(--clr);
}